.field {
    margin: 0 10px 8px;
    padding-bottom: 20px;
}

.field-caption {
    color: #005CAA;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.field-item {
    height: 26px;
    line-height: 26px;
    padding: 5px 0;
}

.label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 185px;
    text-align: right;
    height: 32px;
    line-height: 32px;
}

.input-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 225px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 6px 3px;
    border: 1px solid #bababa;
    box-shadow: 0 0 3px #e6e6e6 inset;
    border-radius: 3px;
    outline: 0;
}

.input-text:hover {
    border-color: #666666;
}

.input-text:focus {
    border-color: #0092d2;
}

.input-select {
    border: 1px solid #bababa;
    padding: 4px 5px 4px 3px;
    height: 30px;
    vertical-align: middle;
    line-height: 1;
    font-size: 13px;
    width: 233px;
    border-radius: 3px;
    outline: 0;
}

.input-select:hover {
    border-color: #666666;
}

.input-select:focus {
    border-color: #0092d2;
}

.verify-wrap{
    display:inline-block;
    *display: inline;
    *zoom: 1;
    position:relative;
    line-height: 32px;
}
.verify-wrap .hidden{
    display: none;
}
.verify-wrap-error {
    background: url("http://img01.taobaocdn.com/tps/i1/T1sstPXvhdXXaSQP_X-16-16.png") no-repeat 247px 12px;
    padding-right:30px;
}

.form-submitbtn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ebebeb));
    background: -moz-linear-gradient(top, white, #ebebeb);
    background: -o-linear-gradient(top, white, #ebebeb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#ebebeb');
    display: block;
    width: 100px;
    margin: 0 auto;
    border-radius: 3px;
}

.form-submitbtn, .form-submitbtn:hover, .form-submitbtn:visited {
    color: #404040;
    text-decoration: none;
}

.label-radio {
    margin-right: 20px;
}

.label-radio input {
    vertical-align: -3px;
    margin-right: 3px;
}

.verifyError {
    border: 1px solid #ff2000;
    -webkit-box-shadow: 0 0 3 #fecbc8 inset;
    -moz-box-shadow: 0 0 3 #fecbc8 inset;
    box-shadow: 0 0 3px #fecbc8 inset;
}

.verifyError:hover {
    border-color: #ff2000;
}

.verifyError:focus {
    border-color: #ff2000;
}

.required {
    color: #e90000;
    width: 20px;
    *width: 25px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
}


.input-button {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: #0092d2;
    cursor: pointer;
    text-align: center;
}
.input-button, .input-button:link, .input-button:hover, .input-button:visited {
    color: white !important;
    text-decoration: none;
}
.input-button:hover {
    background: #009ee3;
}
.input-button:active {
    background: #027fc6;
}

/*
    ERROR TIP
*/

.verify-errortip {
    background: none repeat scroll 0 0 #FFF1F1;
    border: 1px solid #ff2000;
    /*border-radius: 3px 3px 3px 3px;*/
    box-shadow: 0 2px 2px #A1A1A1;
    color: #ff2000;
    font: 12px/22px simsun;
    min-width:250px;
    max-width: 300px;
    _width:250px;
    padding-top: 5px;
    position: absolute;
    z-index: 1000;
    top:0px;
    margin-left:10px;
}

.verify-errortip-down {
    padding-bottom: 5px;
    padding-top: 0;
}

.verify-errortip-left {
    padding: 0;
}

.verify-errortip-right {
    padding: 0;
}

.verify-errortip .content-box {
    background: #fff1f1 url("http://img03.taobaocdn.com/tps/i3/T1tLtFXrpgXXc_eAHa-19-18.png") no-repeat 7px 6px;
    border-radius: 0 0 3px 3px;
    padding: 4px 10px 4px 30px;
    text-align: justify;
}

.verify-errortip .tooltip-arrow {
    font-size: 0;
    height: 11px;
    line-height: 0;
    position: absolute;
    width: 22px;
}

.verify-errortip .tooltip-arrow-up {
    /*background: url("http://img01.taobaocdn.com/tps/i1/T1uH_mXcXXXXbbQ6Hj-60-30.png") no-repeat scroll 0 0 transparent;*/
    background: url("http://img02.taobaocdn.com/tps/i2/T1pCLlXnFpXXbbQ6Hj-60-30.png") no-repeat scroll 0 0 transparent;
    top: -11px;
}

.verify-errortip .tooltip-arrow-down {
    /*background: url("http://img01.taobaocdn.com/tps/i1/T1uH_mXcXXXXbbQ6Hj-60-30.png") no-repeat scroll 0 -16px transparent;*/
    background: url("http://img02.taobaocdn.com/tps/i2/T1pCLlXnFpXXbbQ6Hj-60-30.png") no-repeat scroll 0 -16px transparent;
    bottom: -11px;
}

.verify-errortip .tooltip-arrow-left {
    background: url("http://img02.taobaocdn.com/tps/i2/T1XoXHXvRcXXah7eDX-15-20.gif") no-repeat scroll 0px -2px transparent;
    height: 17px;
    left: -9px;
    top: 9px;
    width: 11px;
}

.verify-errortip .tooltip-arrow-right {
    background: url("http://img03.taobaocdn.com/tps/i3/T1Ap6kXnFrXXcDDMbb-9-17.png") no-repeat scroll 0 0 transparent;
    bottom: -9px;
    width: 9px;
    height: 17px;
}

.verify-errortip .tooltip-arrow-horizontal-left {
    left: 20px;
}

.verify-errortip .tooltip-arrow-horizontal-right {
    right: -9px;
}

.verify-errortip-left .tooltip-arrow-horizontal-left {
    left: -9px;
}

.verify-errortip .tooltip-close {
    position: absolute;
    right: 10px;
    top: 10px;
}