/**
 * 	样式1：通过绝对定位提示错误信息
 */
.field {
  border-bottom: 1px dashed #B5B5B5;
  margin: 0 10px 8px;
  padding-bottom: 20px; }

.field-caption {
  color: #005CAA;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  line-height: 50px; }

.field-item {
  height: 26px;
  line-height: 26px;
  padding: 5px 0; }

.label {
  display: inline-block;
  width: 8em;
  text-align: right; }

.input-text {
  display: inline-block;
  width: 212px;
  height: 18px;
  line-height: 18px;
  padding: 3px;
  border: 1px solid #a1a1a1; }
  .input-text:focus {
    border-color: #8aaade;
    box-shadow: 0 0 3px #8aaade; }

.form-submitbtn {
  display: inline-block;
  width: auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d4d4d4;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ebebeb));
  background: -moz-linear-gradient(top, white, #ebebeb);
  background: -o-linear-gradient(top, white, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#ebebeb');
  display: block;
  width: 100px;
  margin: 0 auto;
  border-radius: 3px; }
  .form-submitbtn, .form-submitbtn:hover, .form-submitbtn:visited {
    color: #404040;
    text-decoration: none; }

.label-radio {
  margin-right: 20px; }
  .label-radio input {
    vertical-align: -2px;
    margin-right: 3px; }
    

